.page {
  font-family: sans-serif;
}

.actions {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    list-style: none;
    padding: 0;

    li button.active {
      background-color: fuchsia;
    }
  }
}

.bpmn-editor {
  display: flex;
}

.diagram {
  height: 500px;
  flex-grow: 1;

  &.implement {
  }
  &.design {
    background: fuchsia;
  }
}

textarea {
  width: 500px;
  font-family: monospace;
}

.sidebar {
  width: 300px;
  border: 1px solid fuchsia;
}

.comments {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: fuchsia;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}